@font-face {
<<<<<<< HEAD
    font-family: Myanmar MN;
    src: url(./Myanmar-MN.ttc);
}

@font-face {
    font-family: Myanmar MN Bold;
    src: url(./Myanmar-MN-Bold.ttf);
}

@font-face {
    font-family: PingFang SC Light;
    src: url(./PingFang-Light.ttf);
}

@font-face {
    font-family: PingFang SC Regular;
    src: url(./PingFang-SC-Regular.ttf);
}

@font-face {
    font-family: PingFang SC Medium;
    src: url(./PingFang-SC-Medium.ttf);
}

@font-face {
    font-family: Hiragino Mincho ProN W3;
    src: url(./Hiragino-Mincho-Pron-W3.ttf);
}

@font-face {
    font-family: SongTi SC Regular;
    src: url(./SongTi-SC-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}


/*Header*/

header {
    display: flex;
    justify-content: center;
}

.headerBox {
    width: 1242px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sologan {
    font-size: 32px;
    font-family: Myanmar MN;
    color: #1a1a1a;
}

.sologan span {
    font-family: Myanmar MN Bold;
    font-weight: bold;
    color: #269dfd;
}

.icons {
    width: 130px;
    display: flex;
    justify-content: space-between;
}


/*Main*/

main {
    margin: 32px auto 96px auto;
}

.mainImgContainer {
    display: flex;
    justify-content: center;
    font-family: PingFang SC Light;
}

.mainImg {
    width: 1242px;
    height: 470px;
}

.mainSelectorContainer {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.selector {
    width: 1242px;
    font-family: PingFang SC Regular;
}

.mkt {
    display: inline;
    font-size: 16px;
    font-family: PingFang SC Medium;
    font-weight: bold;
    color: #1C1D1F;
    line-height: 22px;
    cursor: pointer;
}

.tech {
    display: inline;
    margin-left: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #696c6d;
    line-height: 22px;
    cursor: pointer;
}

.itemsContainerPhone {
    display: none;
}

.itemsContainer {
    display: flex;
    justify-content: center;
}

.itemsList {
    width: 1242px;
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.picture {
    position: relative;
    width: 388px;
    height: 300px;
}

.date {
    position: absolute;
    left: 26px;
    top: -24px;
    height: 48px;
    background: #1c1d1f;
    border: 2px solid rgb(231, 231, 231);
    font-family: PingFang SC Regular;
    z-index: 666;
    overflow: visible;
}

.day {
    font-size: 16px;
    font-weight: 400;
    color: rgb(231, 231, 231);
    line-height: 22px;
    margin: 4px 16px 0 16px;
    text-align: center;
}

.month {
    font-family: PingFang SC Light;
    font-size: 12px;
    font-weight: 300;
    color: rgb(231, 231, 231);
    line-height: 16px;
    margin: 2px auto;
    text-align: center;
}

.info {
    width: 387px;
    height: 155px;
    top: 300px;
    border-bottom: rgb(231, 231, 231);
    border-bottom-style: dotted;
    border-width: 2px;
    font-family: PingFang SC Regular;
}

.fir {
    width: 288px;
    height: 33px;
    font-size: 24px;
    font-weight: 400;
    color: #1c1d1f;
    line-height: 33px;
    margin: auto;
    padding-top: 24px;
}

.sec {
    width: 387px;
    height: 34px;
    font-size: 12px;
    font-weight: 400;
    color: #696c6d;
    line-height: 17px;
    margin: auto;
    padding: 16px 0 0 0;
    text-align: center;
}

.thi {
    font-size: 12px;
    font-weight: 400;
    color: #888c8e;
    line-height: 17px;
    margin: auto;
    padding-top: 16px;
    text-align: center;
}

.thi span {
    margin-left: 17px;
    margin-right: 17px;
}

.loadMore {
    margin: 0 auto;
    margin-top: 80px;
    display: block;
    font-size: 12px;
    font-family: PingFang SC Regular;
    font-weight: 400;
    color: lightgray;
    line-height: 17px;
    width: 160px;
    height: 40px;
    background: #1c1d1f;
    border: #696c6d;
    text-align: center;
    cursor: pointer;
}

footer {
    position: relative;
    background: #1c1d1f;
    display: flex;
    justify-content: center;
}

.footerContainer {
    position: relative;
    width: 1242px;
    height: 240px;
    margin: 0 auto;
    font-family: PingFang SC Regular;
    display: inline-flex;
}

.contactBox {
    position: absolute;
    top: -16px;
    left: 748px;
    width: 494px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.email {
    width: 230px;
    height: 32px;
    background: #1c1d1f;
    border-radius: 20px;
    border: 1px solid #bbc4c7;
    color: #bbc4c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.email img {
    margin-left: 5px;
    margin-top: 2px;
    width: 16px;
    height: 14px;
}

.email-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.tel {
    width: 210px;
    height: 32px;
    background: #1c1d1f;
    border-radius: 20px;
    border: 1px solid #bbc4c7;
    color: #bbc4c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tel img {
    margin-left: 5px;
    width: 16px;
    height: 14px;
}

.tel-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.monstarLab {
    width: 622px;
    height: 80px;
    position: relative;
    top: 90px;
}

.address {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#monstarlabLogo {
    width: 210px;
    height: 26px;
}

.copyright {
    font-size: 12px;
    font-weight: 400;
    color: #bbc4c7;
    line-height: 17px;
}

.line {
    width: 2px;
    height: 60px;
    background: #ffffff;
    opacity: 0.5;
}

.chengdu {
    width: 300px;
}

.chengdu .h1 {
    font-family: PingFang SC Medium;
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: lightgray;
    line-height: 20px;
}

.chengdu .h2 {
    width: 270px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: lightgray;
    line-height: 17px;
    margin-top: 16px;
}

.chengdu .h3 {
    width: 264px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: lightgray;
    line-height: 17px;
    margin-top: 16px;
}

.shanghai {
    width: 260px;
}

.shanghai .h1 {
    font-family: PingFang SC Medium;
    width: 70px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: lightgray;
    line-height: 20px;
}

.shanghai .h2 {
    width: 254px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: lightgray;
    line-height: 17px;
    margin-top: 16px;
}

.shanghai .h3 {
    width: 225px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: lightgray;
    line-height: 17px;
    margin-top: 16px;
}
=======
  font-family: Myanmar MN Bold;
  src: url(./Myanmar\ MN.ttc);
}
@font-face {
  font-family: PingFang SC Light;
  src: url(./PingFang\ Light.ttf);
}
@font-face {
  font-family: PingFang SC Regular;
  src: url(./PingFang-SC-Regular.otf);
}
body {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
}
/*Header*/

header {
  margin: 0 auto;
}

.headerbox {
  position: relative;
  width: 1242px;
  height: 603px;
  /* 水平居中 */
  margin: 0 auto;
}

.sologan {
  position: relative;
  top: 32px;
  width: 260px;
  height: 45px;
  float: left;
  font-size: 32px;
  font-family: Myanmar MN Bold;
  font-weight: bold;
  color: #1a1a1a;
  line-height: 45px;
}

.sologan span {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #269dfd;
}

.icons {
  float: right;
  margin: 32px 0 0 14px;
  cursor: pointer;
}

.headImg {
  position: relative;
  top: 65px;
  font-family: PingFang SC Light;
  background-image: url(img/wallhaven-0pgom3_2848x940.png);
  background-size: 1242px 470px;
  width: 1242px;
  height: 470px;
  background-color: #269dfd;
}

.headImg1 {
  position: absolute;
  top: 172px;
  left: 65px;
  display: block;
  z-index: 666;
  width: 540px;
  height: 75px;
  font-size: 54px;
  font-weight: 300;
  color: #1c1d1f;
  line-height: 75px;
}

.headImg2 {
  position: absolute;
  bottom: 173px;
  left: 77px;
  display: block;
  z-index: 666;
  width: 552px;
  height: 33px;
  font-size: 24px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: #1c1d1f;
  line-height: 33px;
}
/*Main*/
main {
  height: fit-content;

  margin: 0 auto;
  padding-top: 64px;

  box-sizing: conten-box;
}

.mainbox {
  position: relative;
  width: 1242px;
  height: fit-content;
  margin: 0 auto;
  font-family: PingFang SC Regular;

  padding-bottom: 96px;
}

.mkt {
  display: inline;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #1c1d1f;
  line-height: 22px;

  cursor: pointer;
}

.tech {
  display: inline;
  position: relative;
  left: 47px;
  font-size: 16px;
  color: #696c6d;
  line-height: 22px;

  cursor: pointer;
}

.itemsContainer {
  margin-top: 58px;
  width: 1242px;
  height: 455px;
}
.itemsContainerP {
  display: none;
}

.items1 {
  position: relative;
  float: left;
  margin-right: 40px;
  width: 387px;
  height: 455px;
}

.items2 {
  position: relative;
  float: left;
  margin-right: 40px;
  width: 387px;
  height: 455px;
}

.items3 {
  position: relative;
  float: left;
  margin-right: 1px;
  width: 387px;
  height: 455px;
}

.date {
  position: absolute;
  left: 26px;
  top: -24px;
  width: 48px;
  height: 48px;
  background: #1c1d1f;
  border: 2px solid lightgray;
  z-index: 666;
  overflow: visible;
}

.day {
  width: 20px;
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: lightgray;
  line-height: 22px;
  margin: auto;
}

.month {
  width: 26px;
  height: 17px;
  font-size: 12px;
  font-weight: 300;
  color: lightgray;
  line-height: 17px;
  margin: auto;
}

.info {
  position: absolute;
  width: 387px;
  height: 160px;
  top: 300px;
  border-bottom: lightgrey;
  border-bottom-style: dotted;
  border-width: 3px;
}

.fir {
  width: 288px;
  height: 33px;
  font-size: 24px;
  font-weight: 400;
  color: #1c1d1f;
  line-height: 33px;
  margin: auto;
  padding-top: 24px;
}

.sec {
  width: 387px;
  height: 34px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #696c6d;
  line-height: 17px;
  margin: auto;
  padding: 16px 0 0 0;
  text-align: center;
}

.thi {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #888c8e;
  line-height: 17px;
  margin: auto;
  padding-top: 16px;
  text-align: center;
}

.thi span {
  margin-left: 17px;
  margin-right: 17px;
}

.loadMore {
  margin: 80px auto 0px auto;
  display: block;
  font-size: 12px;
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: lightgray;
  line-height: 17px;
  width: 160px;
  height: 40px;
  background: #1c1d1f;
  border: #696c6d;

  cursor: pointer;
}

footer {
  position: relative;
  height: 240px;
  background: #1c1d1f;

  margin: 0 auto;
}

.footerbox {
  position: relative;
  width: 1242px;
  height: 100%;
  margin: 0 auto;
  font-family: PingFang SC Regular;
}
.monstar {
  position: absolute;
  top: 91px;
}

.lab {
  position: absolute;
  top: 136px;
  font-size: 12px;
  font-weight: 400;
  color: #bbc4c7;
  line-height: 17px;
}

.email {
  position: absolute;
  top: -16px;
  left: 748px;
  width: 250px;
  height: 32px;
  background: #1c1d1f;
  border-radius: 20px;
  border: 1px solid #bbc4c7;
  color: #bbc4c7;
}

.email img {
  position: absolute;
  width: 16px;
  height: 12px;
  left: 16px;
  top: 9px;
}

.email-content{
  font-size: 14px;
  margin: 4px 13px 8px 40px;
}

.tel {
  position: absolute;
  top: -16px;
  left: 1015px;
  width: 210px;
  height: 32px;
  background: #1c1d1f;
  border-radius: 20px;
  border: 1px solid #bbc4c7;
  color: #bbc4c7;
}

.tel img {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 8px;
  left: 16px;
}

.tel-content {
  font-size: 14px;
  margin: 5px 16px 7px 40px;
  width: 249px;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 17px;
}

.line {
  width: 2px;
  height: 60px;
  background: #ffffff;
  opacity: 0.5;
  position: absolute;
  left: 926px;
  top: 90px;
}

.chengdu {
  position: absolute;
  top: 77px;
  left: 621px;
  width: 300px;
  height: fit-content;
}

.chengdu h1 {
  width: 56px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
  line-height: 20px;
}

.chengdu h2 {
  width: 270px;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: lightgray;
  line-height: 17px;
  margin-top: 16px;
}

.chengdu h3 {
  width: 264px;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: lightgray;
  line-height: 17px;
  margin-top: 16px;
}

.shanghai {
  position: absolute;
  top: 77px;
  left: 987px;
  width: 300px;
  height: fit-content;
}

.shanghai h1 {
  width: 70px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
  line-height: 20px;
}

.shanghai h2 {
  width: 254px;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: lightgray;
  line-height: 17px;
  margin-top: 16px;
}

.shanghai h3 {
  width: 230px;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: lightgray;
  line-height: 17px;
  margin-top: 16px;
}
>>>>>>> aed1c03b5a4cdd6b341f46c7f387694759397b3b
