body {
  padding: 0%;
  margin: 0%;
}
header {
  width: 1424px;
  height: 600px;
  /* 水平居中 */
  margin: auto;
}

.sologan {
  float: left;
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #1a1a1a;
  line-height: 45px;
}
.sologan span {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #269dfd;
}

.icons {
  float: right;
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
}
.icons img {
  padding: 10px 10px;
}

.headImg {
  margin-top: 110px;

  background-image: url(wallhaven-0pgom3_2848x940.png);
  background-size: 1424px 470px;

  width: 1424px;
  height: 470px;

  background-color: #269dfd;
}
.headImg h1 {
  display: block;
  z-index: 666;
  width: 552px;
  height: 33px;
  font-size: 54px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #1c1d1f;
  line-height: 33px;
}
.headImg h2 {
  position: absolute;
  top: 264px;
  left: 65px;
  z-index: 666;
  width: 552px;
  height: 33px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #1c1d1f;
  line-height: 33px;
}

main {
  width: 1424px;
  height: fit-content;
  /* 水平居中 */
  margin: 64px auto;
  background-color: darkcyan;
}
.mkt {
  width: 48px;
  height: 22px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #1c1d1f;
  line-height: 22px;
}

.tech {
  width: 48px;
  height: 22px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #696c6d;
  line-height: 22px;
}

.itemsContainer {
  width: 100%;
  height: fit-content;

  background-color: #269dfd;

}
.items{
  float: left;
  width: 387px;
  height: 455px;
  margin: 58px 20px;
  background-color: #696c6d;
}

.loadMore {
  display: block;
  margin: 10px auto;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 17px;

  width: 160px;
  height: 40px;
  background: #1c1d1f;

  border: #696c6d;
}